RewriteEngine on
RewriteCond %{REQUEST_FILENAME} /([^.]+)\.HTML [NC]
RewriteRule ^ /$1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]


X-Frame-Options: Deny

<IfModule mod_header.c>
  Header always append X-Frame-Options Deny
</IfModule>

Conten-Security-Policy: frame-ancestors 'none'
